.container{
    width: 70%;
    background-color: #fffde7;
    border: 1px solid #9e9e9e;
    margin: auto;
    text-align: center;
}
.title{
    width: 92%;
    margin: 20px auto;
    background-color: #ffd9e6;
    color: #d40000;
    text-align: center;
}
.poem_1-3 {
    font-style: italic;
    color: #03c;
}
.poem_2{
    font-style: italic;
    color: #d40000;
}
.driver{
    width: 55%;
    margin:auto;
    border: 1px solid #03c;
}